# AZUBI CAPSTONE PROJECT

In [1]:
#Import library packages

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from termcolor import colored
import plotly.express as px
from sklearn.model_selection import train_test_split
from catboost import CatBoostClassifier
from sklearn.metrics import f1_score,accuracy_score,classification_report
import warnings
warnings.filterwarnings('always')

#### LOAD TEST AND TRAIN DATASETS.

* <b> Train data: </b> This is the data which we will be using to train the model. Since we are solving a classification problem, we will have a column in train dataset corresponding to the target labels. 
* <b> Test data: </b> This is the data on which the predictions will be made based on the model trained on train dataset.

In [3]:
train_data = pd.read_csv("C:/Users/KWABENABOATENG/Desktop/AZUBI AFRICA/AZUBI CAPSTONE/AZUBI-CAPSTONE-PROJECT/SampleSubmission.csv")

In [6]:
train_data

                ID  income_above_limit
0      ID_TZ209499                   1
1      ID_TZ209500                   1
2      ID_TZ209501                   1
3      ID_TZ209502                   1
4      ID_TZ209503                   1
...            ...                 ...
89781  ID_TZ299280                   1
89782  ID_TZ299281                   1
89783  ID_TZ299282                   1
89784  ID_TZ299283                   1
89785  ID_TZ299284                   1

[89786 rows x 2 columns]

In [7]:
test_data = pd.read_csv("C:/Users/KWABENABOATENG/Desktop/AZUBI AFRICA/AZUBI CAPSTONE/AZUBI-CAPSTONE-PROJECT/Test.csv")

In [9]:
test_data

,ID,age,gender,education,class,education_institute,marital_status,race,is_hispanic,employment_commitment,...,country_of_birth_father,country_of_birth_mother,migration_code_change_in_msa,migration_prev_sunbelt,migration_code_move_within_reg,migration_code_change_in_reg,residence_1_year_ago,old_residence_reg,old_residence_state,importance_of_record
0,ID_TZ209499,54,Male,High school graduate,Private,NaN,Married-civilian spouse present,White,All other,Children or Armed Forces,...,US,US,unchanged,NaN,unchanged,unchanged,Same,NaN,NaN,3388.96
1,ID_TZ209500,53,Male,5th or 6th grade,Private,NaN,Married-civilian spouse present,White,Central or South American,Full-time schedules,...,El-Salvador,El-Salvador,?,?,?,?,NaN,NaN,NaN,1177.55
2,ID_TZ209501,42,Male,Bachelors degree(BA AB BS),Private,NaN,Married-civilian spouse present,White,All other,Full-time schedules,...,US,US,?,?,?,?,NaN,NaN,NaN,4898.55
3,ID_TZ209502,16,Female,9th grade,NaN,High school,Never married,White,All other,Children or Armed Forces,...,US,US,unchanged,NaN,unchanged,unchanged,Same,NaN,NaN,1391.44
4,ID_TZ209503,16,Male,9th grade,NaN,High school,Never married,White,All other,Not in labor force,...,US,US,?,?,?,?,NaN,NaN,NaN,1933.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89781,ID_TZ299280,5,Male,Children,NaN,NaN,Never married,White,All other,Children or Armed Forces,...,US,US,?,?,?,?,NaN,NaN,NaN,938.83
89782,ID_TZ299281,81,Female,7th and 8th grade,NaN,NaN,Married-civilian spouse present,White,All other,Not in labor force,...,US,US,?,?,?,?,NaN,NaN,NaN,1985.66
89783,ID_TZ299282,65,Female,High school graduate,Federal government,NaN,Married-civilian spouse present,White,Other Spanish,Children or Armed Forces,...,US,US,unchanged,NaN,unchanged,unchanged,Same,NaN,NaN,552.74
89784,ID_TZ299283,38,Female,High school graduate,Private,NaN,Married-A F spouse present,White,All other,Full-time schedules,...,US,US,?,?,?,?,NaN,NaN,NaN,1917.71
89785,ID_TZ299284,23,Female,Some college but no degree,Private,NaN,Never married,White,All other,Full-time schedules,...,US,US,?,?,?,?,NaN,NaN,NaN,1997.29