### AZUBI CAPSTONE PROJECT

#### IMPORT LIBRARY PACKAGES

In [1]:
#Data Handling
import numpy as np
import pandas as pd

#Visualizations
import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt

from termcolor import colored

# Feature Processing (Scikit-learn processing, etc. )

# Evaluation Metrics
from sklearn.model_selection import train_test_split
from catboost import CatBoostClassifier
from sklearn.metrics import f1_score, recall_score, precision_score, fbeta_score, accuracy_score, roc_auc_score
from sklearn.metrics import confusion_matrix
from sklearn.feature_selection import RFE

#Other packages
import warnings
warnings.filterwarnings('always')

#### Load the Data.

For this project, there are two datasets, namely:
* <b> Train data: </b> This is the data which we will be using to train the model. Since we are solving a classification problem, we will have a column in train dataset corresponding to the target labels. 
* <b> Test data: </b> This is the data on which the predictions will be made based on the model trained on train dataset.

In [2]:
train_data = pd.read_csv("C:/Users/KWABENABOATENG/Desktop/AZUBI AFRICA/AZUBI CAPSTONE/AZUBI-CAPSTONE-PROJECT/DATASETS/Train.csv")
test_data = pd.read_csv("C:/Users/KWABENABOATENG/Desktop/AZUBI AFRICA/AZUBI CAPSTONE/AZUBI-CAPSTONE-PROJECT/DATASETS/Test.csv")

#### BASIC DATA EXPLORATION

In [3]:
train_data.head()

,ID,age,gender,education,class,education_institute,marital_status,race,is_hispanic,employment_commitment,...,country_of_birth_mother,migration_code_change_in_msa,migration_prev_sunbelt,migration_code_move_within_reg,migration_code_change_in_reg,residence_1_year_ago,old_residence_reg,old_residence_state,importance_of_record,income_above_limit
0,ID_TZ0000,79,Female,High school graduate,NaN,NaN,Widowed,White,All other,Not in labor force,...,US,?,?,?,?,NaN,NaN,NaN,1779.74,Below limit
1,ID_TZ0001,65,Female,High school graduate,NaN,NaN,Widowed,White,All other,Children or Armed Forces,...,US,unchanged,NaN,unchanged,unchanged,Same,NaN,NaN,2366.75,Below limit
2,ID_TZ0002,21,Male,12th grade no diploma,Federal government,NaN,Never married,Black,All other,Children or Armed Forces,...,US,unchanged,NaN,unchanged,unchanged,Same,NaN,NaN,1693.42,Below limit
3,ID_TZ0003,2,Female,Children,NaN,NaN,Never married,Asian or Pacific Islander,All other,Children or Armed Forces,...,India,unchanged,NaN,unchanged,unchanged,Same,NaN,NaN,1380.27,Below limit
4,ID_TZ0004,70,Male,High school graduate,NaN,NaN,Married-civilian spouse present,White,All other,Not in labor force,...,US,?,?,?,?,NaN,NaN,NaN,1580.79,Below limit

In [4]:
#Create a copy of the original data
data = train_data.copy() 
data1 = test_data.copy()

In [34]:
def drop_columns_from_datasets(train_data, test_data):
    # Let's clean up these datasets by dropping some columns.
    
    columns_to_drop = ['ID', 'education_institute', 'is_hispanic','employment_commitment','unemployment_reason',
                       'employment_stat','is_labor_union', 'industry_code', 'industry_code_main', 'occupation_code',
                       'total_employed', 'household_stat', 'household_summary', 'under_18_family',
                       'veterans_admin_questionnaire', 'vet_benefit', 'tax_status', 'stocks_status', 'mig_year',
                       'country_of_birth_father', 'country_of_birth_mother', 'migration_code_change_in_msa',
                       'migration_prev_sunbelt', 'migration_code_move_within_reg', 'migration_code_change_in_reg',
                       'residence_1_year_ago', 'old_residence_reg', 'old_residence_state', 'importance_of_record']
    
    modified_dataset1 = train_data.drop(columns=columns_to_drop, inplace=False)
    modified_dataset2 = test_data.drop(columns=columns_to_drop, inplace=False)
    
    return modified_dataset1, modified_dataset2

# Example usage
# Replace with your actual train_data and test_data variables
# new_train_data, new_test_data = drop_columns_from_datasets(train_data, test_data)

# Print the new DataFrames
print("Modified Train Data:")
print(new_train_data)
print("-" * 40)
print("Modified Test Data:")
print(new_test_data)

Modified Train Data:
        age   gender                    education                class  \
0        79   Female         High school graduate                  NaN
1        65   Female         High school graduate                  NaN
2        21     Male        12th grade no diploma   Federal government
3         2   Female                     Children                  NaN
4        70     Male         High school graduate                  NaN
...     ...      ...                          ...                  ...
209494   16   Female            7th and 8th grade                  NaN
209495   78     Male   Bachelors degree(BA AB BS)                  NaN
209496    8   Female                     Children                  NaN
209497   26   Female   Some college but no degree              Private
209498   19     Male                   11th grade     Local government

                          marital_status                        race  \
0                                Widowed                       White
1                                Widowed                       White
2                          Never married                       Black
3                          Never married   Asian or Pacific Islander
4        Married-civilian spouse present                       White
...                                  ...                         ...
209494                     Never married                       White
209495   Married-civilian spouse present                       White
209496                     Never married                       White
209497   Married-civilian spouse present                       White
209498                     Never married                       Black

        wage_per_hour  working_week_per_year             occupation_code_main  \
0                   0                     52                              NaN
1                   0                      0                              NaN
2                 500                     15   Adm support including clerical
3                   0                      0                              NaN
4                   0                      0                              NaN
...               ...                    ...                              ...
209494              0                      0                              NaN
209495              0                      0                              NaN
209496              0                      0                              NaN
209497            700                     52     Handlers equip cleaners etc
209498              0                      8   Adm support including clerical

        gains  losses citizenship country_of_birth_own income_above_limit
0           0       0      Native                   US        Below limit
1           0       0      Native                   US        Below limit
2           0       0      Native                   US        Below limit
3           0       0      Native                   US        Below limit
4           0       0      Native                   US        Below limit
...       ...     ...         ...                  ...                ...
209494      0       0      Native                   US        Below limit
209495      0       0      Native                   US        Below limit
209496      0       0      Native                   US        Below limit
209497      0       0      Native                   US        Below limit
209498      0       0      Native                   US        Below limit

[209499 rows x 14 columns]
----------------------------------------
Modified Test Data:
       age   gender                    education                class  \
0       54     Male         High school graduate              Private
1       53     Male             5th or 6th grade              Private
2       42     Male   Bachelors degree(BA AB BS)              Private
3       16   Female                    9th grade                  NaN
4       16     Male                    9th grade                  NaN
...    ...      ...                          ...                  ...
89781    5     Male                     Children                  NaN
89782   81   Female            7th and 8th grade                  NaN
89783   65   Female         High school graduate   Federal government
89784   38   Female         High school graduate              Private
89785   23   Female   Some college but no degree              Private

                         marital_status    race  wage_per_hour  \
0       Married-civilian spouse present   White            600
1       Married-civilian spouse present   White              0
2       Married-civilian spouse present   White              0
3                         Never married   White              0
4                         Never married   White              0
...                                 ...     ...            ...
89781                     Never married   White              0
89782   Married-civilian spouse present   White              0
89783   Married-civilian spouse present   White              0
89784        Married-A F spouse present   White              0
89785                     Never married   White              0

       working_week_per_year                    occupation_code_main  gains  \
0                         46      Transportation and material moving      0
1                         52   Machine operators assmblrs & inspctrs      0
2                         44                  Professional specialty  15024
3                          8                                     NaN      0
4                          0                                     NaN      0
...                      ...                                     ...    ...
89781                      0                                     NaN      0
89782                      0                                     NaN      0
89783                     52                           Other service      0
89784                     43                                   Sales      0
89785                     52                           Other service      0

       losses                           citizenship country_of_birth_own
0           0                                Native                   US
1           0   Foreign born- Not a citizen of U S           El-Salvador
2           0                                Native                   US
3           0                                Native                   US
4           0                                Native                   US
...       ...                                   ...                  ...
89781       0                                Native                   US
89782       0                                Native                   US
89783       0                                Native                   US
89784       0                                Native                   US
89785       0                                Native                   US

[89786 rows x 13 columns]

In [32]:
def drop_columns_from_datasets(train_data, test_data):
    # Let's clean up these datasets by dropping some columns.
    
    columns_to_drop = ['ID', 'education_institute', 'is_hispanic','employment_commitment','unemployment_reason',
                       'employment_stat','is_labor_union', 'industry_code', 'industry_code_main', 'occupation_code',
                       'total_employed', 'household_stat', 'household_summary', 'under_18_family',
                       'veterans_admin_questionnaire', 'vet_benefit', 'tax_status', 'stocks_status', 'mig_year',
                       'country_of_birth_father', 'country_of_birth_mother', 'migration_code_change_in_msa',
                       'migration_prev_sunbelt', 'migration_code_move_within_reg', 'migration_code_change_in_reg',
                       'residence_1_year_ago', 'old_residence_reg', 'old_residence_state', 'importance_of_record']
    
    modified_dataset1 = train_data.drop(columns=columns_to_drop, inplace=True)
    #modified_dataset2 = test_data.drop(columns=columns_to_drop, inplace=False)
    
    print(modified_dataset1)
   
    print(modified_dataset2)
    
    return modified_dataset1, modified_dataset2
                       
new_train_data, new_test_data #= drop_columns_from_datasets(train_data, test_data)

(        age   gender                    education                class  \
 0        79   Female         High school graduate                  NaN
 1        65   Female         High school graduate                  NaN
 2        21     Male        12th grade no diploma   Federal government
 3         2   Female                     Children                  NaN
 4        70     Male         High school graduate                  NaN
 ...     ...      ...                          ...                  ...
 209494   16   Female            7th and 8th grade                  NaN
 209495   78     Male   Bachelors degree(BA AB BS)                  NaN
 209496    8   Female                     Children                  NaN
 209497   26   Female   Some college but no degree              Private
 209498   19     Male                   11th grade     Local government

                           marital_status                        race  \
 0                                Widowed                       White
 1                                Widowed                       White
 2                          Never married                       Black
 3                          Never married   Asian or Pacific Islander
 4        Married-civilian spouse present                       White
 ...                                  ...                         ...
 209494                     Never married                       White
 209495   Married-civilian spouse present                       White
 209496                     Never married                       White
 209497   Married-civilian spouse present                       White
 209498                     Never married                       Black

         wage_per_hour  working_week_per_year             occupation_code_main  \
 0                   0                     52                              NaN
 1                   0                      0                              NaN
 2                 500                     15   Adm support including clerical
 3                   0                      0                              NaN
 4                   0                      0                              NaN
 ...               ...                    ...                              ...
 209494              0                      0                              NaN
 209495              0                      0                              NaN
 209496              0                      0                              NaN
 209497            700                     52     Handlers equip cleaners etc
 209498              0                      8   Adm support including clerical

         gains  losses citizenship country_of_birth_own income_above_limit
 0           0       0      Native                   US        Below limit
 1           0       0      Native                   US        Below limit
 2           0       0      Native                   US        Below limit
 3           0       0      Native                   US        Below limit
 4           0       0      Native                   US        Below limit
 ...       ...     ...         ...                  ...                ...
 209494      0       0      Native                   US        Below limit
 209495      0       0      Native                   US        Below limit
 209496      0       0      Native                   US        Below limit
 209497      0       0      Native                   US        Below limit
 209498      0       0      Native                   US        Below limit

 [209499 rows x 14 columns],
        age   gender                    education                class  \
 0       54     Male         High school graduate              Private
 1       53     Male             5th or 6th grade              Private
 2       42     Male   Bachelors degree(BA AB BS)              Private
 3       16   Female                    9th grade                  NaN
 4       16     Male                    9th grade                  NaN
 ...    ...      ...                          ...                  ...
 89781    5     Male                     Children                  NaN
 89782   81   Female            7th and 8th grade                  NaN
 89783   65   Female         High school graduate   Federal government
 89784   38   Female         High school graduate              Private
 89785   23   Female   Some college but no degree              Private

                          marital_status    race  wage_per_hour  \
 0       Married-civilian spouse present   White            600
 1       Married-civilian spouse present   White              0
 2       Married-civilian spouse present   White              0
 3                         Never married   White              0
 4                         Never married   White              0
 ...                                 ...     ...            ...
 89781                     Never married   White              0
 89782   Married-civilian spouse present   White              0
 89783   Married-civilian spouse present   White              0
 89784        Married-A F spouse present   White              0
 89785                     Never married   White              0

        working_week_per_year                    occupation_code_main  gains  \
 0                         46      Transportation and material moving      0
 1                         52   Machine operators assmblrs & inspctrs      0
 2                         44                  Professional specialty  15024
 3                          8                                     NaN      0
 4                          0                                     NaN      0
 ...                      ...                                     ...    ...
 89781                      0                                     NaN      0
 89782                      0                                     NaN      0
 89783                     52                           Other service      0
 89784                     43                                   Sales      0
 89785                     52                           Other service      0

        losses                           citizenship country_of_birth_own
 0           0                                Native                   US
 1           0   Foreign born- Not a citizen of U S           El-Salvador
 2           0                                Native                   US
 3           0                                Native                   US
 4           0                                Native                   US
 ...       ...                                   ...                  ...
 89781       0                                Native                   US
 89782       0                                Native                   US
 89783       0                                Native                   US
 89784       0                                Native                   US
 89785       0                                Native                   US

 [89786 rows x 13 columns])

In [ ]:
train_data.head()

In [ ]:
print(f"The shape of the train dataset is: {train_data.shape}")
print()
print(f"The shape of the test dataset is: {test_data.shape}")

In [ ]:
#### Check the data types of the datasets

print(f"The data types of the train dataset is: {train_data.dtypes}")
print()
print()
print(f"The data types of the test dataset is: {test_data.dtypes}")

In [ ]:
#Check for missing values

train_data.isnull().sum()

In [ ]:
def check_unique_values_and_value_counts(train_data, columns_to_check):
    """
    Check unique values and value counts of specific columns in a dataset.

    Parameters:
    - dataset (pd.DataFrame): The dataset to analyze.
    - columns_to_check (list): List of column names to check.

    Returns:
    - None
    """
    for column in columns_to_check:
        unique_values = train_data[column].unique()
        value_counts = train_data[column].value_counts()
        
        print(f"Column: {column}")
        print(f"Unique values: {unique_values}")
        print("Value counts:")
        print(value_counts)
        print("-" * 40)

In [ ]:
train_data['gender'].unique()

In [ ]:
train_data['gender'].value_counts()

In [ ]:
train_data['education'].unique()

In [ ]:
train_data['education'].value_counts()

In [ ]:
#Drop unnecesarry columns from the dataset
train_data.drop(columns= ['ID', 'education_institute', 'is_hispanic','employment_commitment','unemployment_reason', 'employment_stat',
       'is_labor_union', 'industry_code', 'industry_code_main', 'occupation_code','total_employed', 'household_stat', 
       'household_summary', 'under_18_family', 'veterans_admin_questionnaire', 'vet_benefit', 'tax_status', 'stocks_status',
       'mig_year', 'country_of_birth_father', 'country_of_birth_mother', 'migration_code_change_in_msa',
       'migration_prev_sunbelt', 'migration_code_move_within_reg', 'migration_code_change_in_reg', 'residence_1_year_ago',
       'old_residence_reg', 'old_residence_state', 'importance_of_record'], axis=1, inplace=True)

In [ ]:
print("The shape of test data is"{test_data})
print('The shape of test data is'{test_data})

In [ ]:
test_data.head()

In [ ]:
test_data.shape

In [ ]:
train_data.dtypes

In [ ]:
test_data.dtypes

In [ ]:
train_data.isnull().sum()

In [ ]:
test_data.isnull().sum()

In [ ]:
train_data.describe()

In [ ]:
test_data.describe()

In [ ]:
train_data.hist(figsize=(12, 10))

In [ ]:
# Filter out only the numerical columns
numerical_columns = train_data.select_dtypes(include=['int', 'float'])

plt.figure(figsize=(10, 6))  # Adjust the figure size as needed

# Create a boxplot using Seaborn
sns.boxplot(data=train_data)

plt.title("Boxplot of Multiple Columns")
plt.xlabel("Columns")
plt.ylabel("Values")

plt.tight_layout()
plt.show()

In [ ]:
#Handling missing values


print(train_data.isnull().sum())

In [ ]:
train_data.columns

In [ ]:
def drop_columns(  train_data,  test_data, 'ID', 'education_institute', 'is_hispanic','employment_commitment','unemployment_reason', 'employment_stat',
       'is_labor_union', 'industry_code', 'industry_code_main', 'occupation_code','total_employed', 'household_stat', 
       'household_summary', 'under_18_family', 'veterans_admin_questionnaire', 'vet_benefit', 'tax_status', 'stocks_status',
       'mig_year', 'country_of_birth_father', 'country_of_birth_mother', 'migration_code_change_in_msa',
       'migration_prev_sunbelt', 'migration_code_move_within_reg', 'migration_code_change_in_reg', 'residence_1_year_ago',
       'old_residence_reg', 'old_residence_state', 'importance_of_record'):
    
    train_data = train_data.drop(columns=columns_to_drop, inplace=False)
    test_data = test_data.drop(columns=columns_to_drop, inplace=False)
    return train_data, test_data

#### Categorical Values

In [ ]:
def plot_numerical_countplots(train_data):
    numerical_columns = data.select_dtypes(include=['int64', 'float64']).columns

    for column in numerical_columns:
        plt.figure(figsize=(8, 6))
        sns.countplot(data[column])
        plt.title(f'Countplot of {column}', fontsize=16)
        plt.xlabel(column, fontsize=14)
        plt.ylabel('Count', fontsize=14)
        plt.xticks(rotation=45)
        plt.show()

# Example usage
# Assuming 'df' is your DataFrame
plot_numerical_countplots(train_data)

In [ ]:
#def plot_countplots_for_categorical(train_data):
    #Get a list of column name with categorical data
    #categorical_columns = train_data.select_dtypes(include=['object']).columns.tolist()
    
    #loops through categorical columns and create count plots
    #for columns in categorical_columns:
        
        #Set the figure size
       # plt.figure(figsize=(8,6))
        #sns.countplot(x=columns,data=train_data)
        
        #plt.xlabel(column)
        #Set x-axis label
       # plt.ylabel('Count')
        #Set y-axis label
        
       # plt.title(f'Count plot of {column}')
        #Set plot title
        
       # plt.xticks(rotation=45)
        #Rotate x-axis labels for readability
        
        #plt.show()

In [ ]:
#Example usage with your Dataframe 'df'

plot_countplots_for_categorical(train_data)

In [ ]:
#Explore categorical variables with count plots

sns.countplot(x='gender', data = train_data)

In [ ]:
#Univariate Analysis

train_data['column_name'].hist()
plt.xlabel('X-axis Label')
plt.xlabel('X-axis Label')
plt.title('Title')
plt.show()

In [ ]:
#Bivariate Analysis

sns.scatterplot(x='column1', y='column2', data = train_data)

In [ ]:
#categorical variables

sns.countplot(x='category_column', data=train_data)

In [ ]:
train_data['categorical_column'].value_counts()

In [ ]:
train_data('education_institute').unique()

In [ ]:
#Print out unique values of every column in the dataset

def print_unique_values(train_data):
    for column in train_data.columns:
        unique_values = 
train_data[column].unique()
        print(f"Unique values in {columns}: {unique_values}" )

In [ ]:
#train_data['education_institute'].fillna(0, inplace = True)
#print()